<div class="container-fluid">
  <app-page-title
    title="{{ 'HEADER.ROLE.TITEL' | translate}}"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div class="row" >
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-md-2">
            <!-- Search -->

            <!-- End search -->
            <div class="text-sm-end">
              <button
                type="button"
                class="btn btn-outline-success btn-rounded mb-3 me-2"
                (click)="onCreateNew()">
                <i class="mdi mdi-plus mr-1"></i>
              </button>
            </div>
          </div>
          <!-- Table -->
          <ng-container>
            <form [formGroup]="roleDataSource.filterForm"
                  (ngSubmit)="onSearch()">
              <div fxLayout="column" class="mat-elevation-z2 w-100-p overflow mt-12 disabled-scroll">
                <table mat-table [dataSource]="roleDataSource.dataSource">
                  <ng-container matColumnDef="name">
                    <th class="header pt-16 px-15 max-w-150" mat-header-cell *matHeaderCellDef>
                      <div class="company">
                        name
                      </div>
                      <mat-form-field class="filter w-100-p" floatLabel="never">
                        <input matInput
                               (keyup.backspace)="resetSearch(roleDataSource.filterForm.value.name)"
                               [formControl]="roleDataSource.filterForm.get(['name'])">
                        <mat-icon matSuffix class="disabled-text"
                                  *ngIf="roleDataSource.filterForm.value.name.length === 0">
                          search
                        </mat-icon>
                        <button type="button" mat-icon-button matSuffix class="disabled-text"
                                *ngIf="roleDataSource.filterForm.value.name.length > 0"
                                color="primary" (click)="onClearSearchFormFiled('name')">
                          <mat-icon>clear</mat-icon>
                        </button>
                      </mat-form-field>
                    </th>
                    <td mat-cell class="px-16" *matCellDef="let el">{{el.name}}</td>
                  </ng-container>
                  <ng-container matColumnDef="description">
                    <th class="header pt-16 px-16 max-w-150" mat-header-cell *matHeaderCellDef>
                      <div class="company">
                        description       </div>
                      <mat-form-field class="filter w-100-p" floatLabel="never">
                        <input matInput (keyup.backspace)="resetSearch(roleDataSource.filterForm.value.description)"
                               [formControl]="roleDataSource.filterForm.get(['description'])">
                        <mat-icon matSuffix class="disabled-text"
                                  *ngIf="roleDataSource.filterForm.value.description.length === 0">
                          search
                        </mat-icon>
                        <button type="button" mat-icon-button matSuffix class="disabled-text"
                                *ngIf="roleDataSource.filterForm.value.description.length > 0"
                                color="primary" (click)="onClearSearchFormFiled('description')">
                          <mat-icon>clear</mat-icon>
                        </button>
                      </mat-form-field>
                    </th>
                    <td mat-cell class="px-16" *matCellDef="let el">{{el.description}}</td>
                  </ng-container>

                  <ng-container matColumnDef="actions" stickyEnd class="action">
                    <th mat-header-cell class="py-12" *matHeaderCellDef>
                      <div class="mt-13">
                        <button type="submit" mat-icon-button aria-label="Submit"
                                [ngClass]="roleDataSource.filterForm.value.name.length === 0 && roleDataSource.filterForm.value.name.length === 0? 'aster_accent_disabled':'aster_accent'"
                                [disabled]="roleDataSource.filterForm.value.name.length === 0 && roleDataSource.filterForm.value.name.length === 0">
                          <mat-icon class="arrow" [inline]="true">arrow_forward</mat-icon>
                        </button>
                        <button type="button" mat-icon-button aria-label="reset " class="aster_accent"
                                (click)="onResetSearchFilter()">
                          <mat-icon [inline]="true">settings_backup_restore</mat-icon>
                        </button>

                      </div>
                    </th>
                    <td mat-cell class="py-7" *matCellDef="let el; let i = dataIndex;" >
                      <div fxFlex="row" fxLayoutAlign="center" fxLayoutGap="10px">
                        <button type="button" mat-icon-button class="aster_accent" (click)="onEdit(i, el)">
                          <mat-icon class="edit" [inline]="true">edit</mat-icon>
                        </button>
                        <button type="button" mat-icon-button color="warn" (click)="onDelete(i, el)">
                          <mat-icon [inline]="true">delete</mat-icon>
                        </button>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="roleDataSource.columnsToDisplay" ></tr>
                  <tr mat-row
                      *matRowDef="let el; columns: roleDataSource.columnsToDisplay"></tr>
                </table>
              </div>
            </form>
          </ng-container>
          <!-- End table -->


          <mat-paginator *ngIf="!!roleDataSource.page"
                         [length]="roleDataSource.page.totalElements"
                         [pageSizeOptions]="roleDataSource.pageSizeOptions"
                         (page)="paginate($event)"
                         [pageSize]="roleDataSource.page.size"
                         [pageIndex]="getPageIndex()"
                         class="w-100-p"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>





