
.button-row{
  right: 0%;
}
.btn-dialog-close {
  position: fixed;
  left: 59%;
}
mat-toolbar{
  margin-bottom: 8%;
  background-color: #2a3042;
  color: white;
}
button.mat-raised-button{
  margin-right: 10px;
}
.submitCreate{
  background-color: #34c38f;
  color: whitesmoke;
}
.submitUpdate{
  background-color: dodgerblue;
  color: whitesmoke;
}
