.gxld-modal-btn_validate {
  text-align: center;
  color:whitesmoke;
  background-color:#34c38f;
  font-size: small;
  font-family: Arial;
  border-radius: 8px;
  border:0;
}
.gxld-btn_cancel{
  background-color:#f46a6a;
  color: whitesmoke;
  font-size: small;
  font-family: Arial;
  border-radius: 8px;
  border:0;
}
.w-100-p delete-popup{
  background-color: black;
  font-size: xxx-large;
}
.mt-24 mb-0{
  background-color: blue;
  font-size: xxx-large;
}
.mat-dialog-content{
  color: black;
  font-family: Arial;
  font-size: 14px;

}
.mat-dialog-title{
  font-family: bold;
  text-align: center;

}
mat-dialog-content{
  text-align: center;
}

