<mat-toolbar>
  <span [hidden]="roleService.form.controls['id'].value">{{'HEADER.ROLES.MODAL.TITLECREATE'|translate}}</span>
  <span [hidden]="!roleService.form.controls['id'].value">{{'HEADER.ROLES.MODAL.TITELUPDATE'|translate}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close "  mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form class="needs-validation" (submit)="onSubmit()" [formGroup]="roleService.form">
  <div class="row mb-4">
    <label for="horizontal-firstname-input" class="col-sm-3 col-form-label">name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="horizontal-firstname-input" formControlName="name"
             placeholder="name"  >
      <div *ngIf="roleService.formControls.name.invalid && (roleService.formControls.name.dirty || roleService.formControls.name.touched)" class="mat-error ng-tns-c181-19"  >
        {{'HEADER.ERROR.REQUIRED'|translate}}
      </div>
    </div>

  </div>
  <div class="row mb-4">
    <label for="horizontal-email-input" class="col-sm-3 col-form-label">Description</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="horizontal-email-input" formControlName="description"
             placeholder="description">
      <div *ngIf="roleService.formControls.description.invalid && (roleService.formControls.description.dirty || roleService.formControls.description.touched)" class="mat-error ng-tns-c181-19"  >
        {{'HEADER.ERROR.REQUIRED'|translate}}
      </div>
    </div>
  </div>

  <div class="d-flex  justify-content-end">
    <div class="button-row">
      <button mat-raised-button color="warn" (click)="onClear()">{{'HEADER.CLIENTS.MODAL.CLEAR'|translate}}</button>
      <button [hidden]="roleService.form.controls['id'].value" mat-raised-button class="submitCreate" type="submit" [disabled]="roleService.form.invalid">{{'HEADER.CLIENTS.MODAL.SAVE'|translate}}</button>
      <button [hidden]="!roleService.form.controls['id'].value" mat-raised-button class="submitUpdate" type="submit" [disabled]="roleService.form.invalid">{{'HEADER.CLIENTS.MODAL.SAVE'|translate}}</button>

    </div>
  </div>

</form>
